<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.sandbox.mapper.UserStrategyMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.test.sandbox.entity.UserStrategy">
                <id column="id" property="id"/>
                <result column="strategy_id" property="strategyId"/>
                <result column="user_id" property="userId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, strategy_id, user_id
    </sql>

    <select id="selectByUserId">
        select * from user_strategy
        where user_id=#{userId};
    </select>

    <insert id="configureStrategy" parameterType="com.example.test.sandbox.entity.UserStrategy" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user_strategy
        (user_id,strategy_id)
        values
        (#{userId},#{strategyId});
    </insert>
</mapper>
